<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>xml</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>jenkin.control.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>jenkin.control.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FtpUp</display-name>
    <servlet-name>FtpUp</servlet-name>
    <servlet-class>jenkin.control.FtpUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FtpUp</servlet-name>
    <url-pattern>/FtpUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FtpSet</display-name>
    <servlet-name>FtpSet</servlet-name>
    <servlet-class>jenkin.control.FtpSet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FtpSet</servlet-name>
    <url-pattern>/FtpSet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileDataGrid</display-name>
    <servlet-name>FileDataGrid</servlet-name>
    <servlet-class>jenkin.control.FileDataGrid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDataGrid</servlet-name>
    <url-pattern>/FileDataGrid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TreeGridOut</display-name>
    <servlet-name>TreeGridOut</servlet-name>
    <servlet-class>jenkin.control.TreeGridOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TreeGridOut</servlet-name>
    <url-pattern>/TreeGridOut</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>jenkin.listener.OnlineUserListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>OnlineUsers</display-name>
    <servlet-name>OnlineUsers</servlet-name>
    <servlet-class>jenkin.control.OnlineUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OnlineUsers</servlet-name>
    <url-pattern>/OnlineUsers</url-pattern>
  </servlet-mapping>
</web-app>